/* Extra Small Devices (Phones) */
@media (max-width: 575.99px) {
    /* Styles for phones */
    body .gap:nth-child(2n) {
      margin: 46px 0;
    }
    .section-title {
      font-size: 30px;
    }
    #header{
       /* height: 430px; */
       height: auto;
    }
    .banner-text{
      max-width: 445px;
      padding: 35px 0;
      row-gap: 15px;
    }
    .banner-text h1 {
      font-size: 35px;
    }
    .banner-text p{
      width: 96%;
    }
    /* donate part start */
    .donate-text .inner-text {
      max-width: 500px;
    }
    .inner-counter .item-1 ul {
      flex-wrap: wrap;
      justify-content: center;
    }
    .inner-counter .item-1{
      max-width: 360px;
    }
    /* donatePlant part start */
    .contribute-container {
      row-gap: 37px;
    }
    .donate-plan-container .donate-card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 40px;
    }
    .donate-card .inner-card{
      max-width: 330px;
    }
    /* contribute part start */
    .contribute-container .contribute-content{
      flex-direction: column;
      row-gap: 30px;
    }
    .contribute-content .contribute-text{
      max-width: 460px;
      text-align: center;
    }
    .contribute-container .contribute-content:nth-child(2){
      flex-direction: column;
  }
  /* update */
  .update-container .update-form {
     width: 100%;
  }
  .update-form form {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }
  }
  /* Small Devices (Tablets) */
  @media (min-width: 576px) and (max-width: 767.99px) {
    /* Styles for tablets */
    body .gap:nth-child(2n) {
      margin: 50px 0;
    }
    .section-title {
      font-size: 30px;
    }
    #header{
      height: 375px;
    }
    .banner-text {
      max-width: 545px;
      row-gap: 13px;
    }
    .banner-text h1 {
      font-size: 45px;
    }
    /* donate part */
    .donate-text .inner-text {
      max-width: 500px;
    }
    .inner-counter .item-1{
      max-width: 450px;
    }
    .inner-counter .item-1 ul {
      display: flex;
      flex-wrap: wrap;
    }
    /* donate-plant  */
    .donate-plan-container .donate-card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 40px;
    }
    .donate-card .inner-card{
      max-width: 330px;
    }
    /* donate part end */
    /* contriburte part start */
    .contribute-container .contribute-content{
      flex-direction: column;
      row-gap: 30px;
    }
    .contribute-content .contribute-text{
      max-width: 460px;
      text-align: center;
    }
    .contribute-container .contribute-content:nth-child(2){
      flex-direction: column;
  }
    /* contriburte part end */
    /* update part start */
    .update-container .update-form {
      width: 90%;
    }
  }
  /* Medium Devices (Small Laptops) */
  @media (min-width: 768px) and (max-width: 991.99px) {
    /* Styles for small laptops */
    body .gap:nth-child(2n) {
      margin: 70px 0;
    }
    .section-title {
      font-size: 40px;
      font-weight: 600;
      color: #121212;
      line-height: auto;
    }
     #header{
      height: 425px;
     }
     .banner-text{
       max-width: 650px;
     }
     .banner-text h1 {
      font-size: 50px;
    }
    .banner-text p span{
      display: block;
    }
  }
  /* Large Devices (Laptops) */
  @media (min-width: 992px) and (max-width: 1199.99px) {
    /* Styles for laptops */
    .banner-text h1 {
      width: 100%;
      font-size: 55px;
      font-weight: 600;
      color: #ffffff;
      line-height: 75px;
    }
    #header{
      height: 450px;
    }
    .banner-text p span{
      display: block;
    }
  }
  /* Extra Large Devices (Desktops) */
  @media (min-width: 1200px) {
    /* Styles for desktops */
    .banner-text {
      max-width: 770px;
    }
    .banner-text h1 {
      font-size: 65px;
    }
    .banner-text p span{
      display: block;
    }
  }