@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
body .gap{
    background-color: #ffffff;
}
body .gap:nth-child(even){
    margin: 120px 0;
}
*{
    padding: 0;
    margin:0 ;
    outline: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display:inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 992px;
    margin: 0 auto;
    padding: 10px;
}
.hover-color{
   background-color: #fff4d6;
}
.section-title{
    font-size: 45px;
    font-weight: 600;
    color: #121212;
    line-height: auto;
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    line-height: 30px;
}
.common-btn{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    padding: 15px 20px;
    background: #FF5959;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* header part start */
#header{
   background: url(../image/banner.png);
   background-color: #12121242;
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 550px;
   margin-top: 0px;
}
.banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    max-width: 717px;
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.banner-text h1 {
    width: 100%;
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
    line-height: 75px;
  }
.banner-text p{
    width: 100%;
    color: #FFFFFF;
} 
/* header part end */
/* donate part start */
.donate-container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.donate-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donate-text .inner-text{
    max-width: 550px;
}
.donate-text .inner-text p{
    padding: 10px 0;
}
.donate-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate-counter .inner-counter{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
}
.inner-counter .item-1 ul{
   display: flex;
   justify-content: center;
    align-items: center;
   gap: 5px;
}
.inner-counter .item-1 ul li{
    width: 120px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: ease-in-out 0.2s;
}
.inner-counter .item-1 ul li:hover{
    border: 2px solid #FF5959;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}
.inner-counter .item-1 ul li:hover span{
  color: #FF5959;
  transition: ease-in-out 0.2s;
}
.inner-counter .item-1 ul li span{
    font-size: 25px;
    font-weight: 600;
    color: #707070;
    display: inline-block;
}
.inner-counter .item-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.inner-counter .item-2 span{
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #707070;
}
/* donate part end */
/* donatePlant part start */
.donate-plan-container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.donate-plan-container .donate-card{
    display: flex;
    gap:20px;
}
.donate-card .inner-card{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.donate-card .inner-card:hover{
    background-color: #fff4d6;
}
.inner-card .card-text h4{
    font-size: 18px;
    font-weight: 600;
    color: #121212;
}
.inner-card .card-text p{
    padding: 5px 0;
}
/* donatePlant part end */
/* contritute part start */
.contribute-container{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.contribute-container .contribute-content:nth-child(2){
    flex-direction: row-reverse;
}
.contribute-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}
.contribute-content .contribute-text .inner-text{
    max-width: 500px;
}
.contribute-content .contribute-text p{
    padding: 20px 0;
}
.contribute-content .contribute-text p span{
    display: block;
    margin-top: 10px;
}
.contribute-content .contribute-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* contritute part end */
/* update part start */

.update-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}
.update-container .update-text{
    max-width: 600px;
    text-align: center;
}
.update-container .update-text p{
    padding: 10px 0;
}
.update-container .update-form{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0a9134d;
}
.update-form form{
    width: 80%;
    height: 48px;
    background-color: red;
    display: flex;
}
form input[type="email"]{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #707070;
    padding: 0 10px;
    border: none;
}
form button{
    border: none;
    border-radius: 0px !important;
}
/* update part end */
/* footer part start */
footer{
    background-color: #121212;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.footer-text h3{
    font-size: 25px;
    font-weight: 600;
    color: #FF5959;
    text-align: center;
}
.footer-text p{
    font-size:14px;
    font-weight: 400;
    color: #fff4d6;
    text-align: center;
}
/* footer part end */