@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
body .gap:nth-child(even){
    margin: 120px 0;
}
*{
    padding: 0;
    margin:0 ;
    outline: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display:inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 992px;
    border: 1px solid rgb(4, 255, 66);
    margin: 0 auto;
}
.hover-color{
   background-color: #fff4d6;
}
.section-title{
    font-size: 45px;
    font-weight: 600;
    color: #121212;
    line-height: auto;
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    line-height: 28px;
}
.common-btn{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    padding: 15px 20px;
    background: #FF5959;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* header part start */
#header{
   background: url(../image/banner.png);
   background-color: #12121242;
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 550px;
}
.banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    max-width: 717px;
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.banner-text h1 {
    width: 100%;
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
    line-height: 75px;
  }
.banner-text p{
    width: 100%;
    color: #FFFFFF;
} 
/* header part end */
/* donate part start */
#donate{
    background-color: #ffffff;
}
.donate-container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.donate-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donate-text .inner-text{
    max-width: 650px;
}
.donate-text .inner-text p{
    padding: 10px 0;
}
.donate-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate-counter .inner-counter{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
}
.inner-counter .item-1 ul{
   display: flex;
   gap: 5px;
}
.inner-counter .item-1 ul li{
    width: 120px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: ease-in-out 0.2s;
}
.inner-counter .item-1 ul li:hover{
    border: 2px solid #FF5959;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}
.inner-counter .item-1 ul li:hover span{
  color: #FF5959;
  transition: ease-in-out 0.2s;
}
.inner-counter .item-1 ul li span{
    font-size: 25px;
    font-weight: 600;
    color: #707070;
    display: inline-block;
}
.inner-counter .item-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.inner-counter .item-2 span{
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #707070;
}
/* donate part end */